:host {
    display: flex;
    flex-direction: column;
}

.message {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-self: flex-start;
    gap: 10px;
    font-size: 20px !important;
    line-height: 1;
    color: #fff;
    background-color: #6A48D7;
    border-radius: 20px;
    padding: 20px;
    width: 90%;

    & > * {
        word-wrap: break-word;
        width: 100%;
    }

    &__time {
        text-align: end;
    }

    &__notification {
        align-self: center;
        text-align: center;

        & > span {
            font-weight: bold;
        }
    }

    &-transparent {
        background-color: transparent;
        width: 100%;
        text-align: center;
    }

    &-self {
        align-self: flex-end;
        text-align: end;
    }

    &-self &__time {
        text-align: start;
    }
}