<div 
    class="message" 
    [class.message-transparent]="isNotification()"
    [class.message-self]="isCurrentUser()">
    @switch (message.body) {
        @case (JOIN_MESSAGE) {
            <p class="message__notification">Пользователь <span>{{message.user}}</span> присоединился к диалогу</p>
        }
        @case (EXIT_MESSAGE) {
            <p class="message__notification">Пользователь <span>{{message.user}}</span> покинул диалог</p>
        }
        @default {
            <h3 class="message__sender">{{message.user}}</h3>
            <p class="message__body">{{trimQuotes()}}</p>
            <span class="message__time">{{message.time | date:'short' }}</span>
        }
    }
</div>