<div class="messenger">
    <div class="messenger__messages"> 
        @for (message of messages; track message) {
            <app-message [message]="message"></app-message>
        }
    </div>
    @if (isLoggedIn) {
        <div class="messenger__input">
            <textarea cols="30" rows="10" [(ngModel)]="messageBody" ></textarea>
            <button (click)="sendMessage()" [disabled]="!(messageBody && messageBody.length >= 0)">Отправить</button>
        </div>
    } @else {
        <div class="messenger__input">
            <input type="text" [(ngModel)]="userName" placeholder="Никнейм">
            <button (click)="login()" [disabled]="!(userName && userName.length >= 0)">OK</button>
        </div>
    }
</div>