.messenger {
    margin: auto;
    width: 100%;
    height: 100vh;
    max-width: 500px;
    background-color: #200772;

    display: flex;
    flex-direction: column;
    justify-content: end;

    &__messages {
        height: calc(100vh - 90px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #3914AF;
        }
    }

    &__input {
        height: 90px;
        padding: 10px;
        display: flex;
        gap: 10px;

        & > * {
            border: none;
            outline: none;
            border-radius: 20px;
            height: 100%;
            color: #fff;
            font-size: 20px;
            line-height: 1;
        }

        & > input, & > textarea {
            width: 75%;
            background-color: #6A48D7;
            padding: 20px;
            resize: none;
        }

        & > button {
            border: none;
            outline: none;
            width: 25%;
            background-color: #3914AF;
        }
    }
}